<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hello-world" value="Hello World!" />
		<add key="white_bass" value="White/ Sand Bass" />
	</appSettings>
	<connectionStrings>
		<add name="development" connectionString="DATABASE=Development; SERVER=DEV1;" />
	</connectionStrings>
	
</configuration>